<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <app-banner 
            inputTitle="Title" 
            inputDescription="This is my first angular application. Nothing special but it's ok. This is my first angular application. Nothing special but it's ok. This is my first angular application. Nothing special but it's ok. This is my first angular application. Nothing special but it's ok. This is my first angular application. Nothing special but it's ok.This is my first angular application. Nothing special but it's ok.This is my first angular application. Nothing special but it's ok.This is my first angular application. Nothing special but it's ok.This is my first angular application. Nothing special but it's ok.This is my first angular application. Nothing special but it's ok.">
            </app-banner>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="seeProductsBtnContainer">
                <a class="btn btn-outlined-primary" href="#">See our products</a>
            </div>
            
        </div>
    </div>
</div>