
<header>
    <div class="logo">
        <span>
            <i class="fas fa-fingerprint"></i>
            <a [routerLink] = "['/home']">CompanyName</a>
        </span>
    </div>
    <div class="spacing"></div>
    <div class="nav-container">
        <nav>
            <a [routerLink] = "['/home']">Home</a>
            <a [routerLink] = "['/about']">About</a>
            <a [routerLink]="['/products']">Products</a>
            <a [routerLink]="['/contact']">Contact us</a>
        </nav>
    </div>
    <div class="login">
        <a href="#">
            <span>Log in</span>
            <i class="fas fa-sign-in-alt"></i>
        </a>
    </div>
</header>